<head th:replace="layout :: header"></head>
<body>
	<div class="warpper">
		<div th:replace="layout :: sidebar"></div>
		<div class="main-panel">
			<nav th:replace="layout :: navbar"></nav>
			<div class="content">
			<div th:replace="layout :: alerts"></div>
				<form th:action="@{/app/recurso/editar}" method="POST" th:object="${recurso}">
					<input type="hidden" th:field="*{id}">
					<div class="form-group">
						<label>Código</label> 
						<input type="text" class="form-control" readonly
							th:field="*{codigo}" placeholder="Código">
						<small th:if="${#fields.hasErrors('codigo')}" class="text-danger" th:errors="*{codigo}"></small>
					</div>

					<div class="form-group">
						<label>Nome</label> 
						<input type="text" class="form-control"
							th:field="*{nome}" placeholder="Nome">
						<small th:if="${#fields.hasErrors('nome')}" class="text-danger" th:errors="*{nome}"></small>
					</div>

					<div class="form-group">
						<label>Sigla</label> 
						<input type="text" class="form-control"
							th:field="*{sigla}" placeholder="Sigla">
						<small th:if="${#fields.hasErrors('sigla')}" class="text-danger" th:errors="*{sigla}"></small>
					</div>

					<div class="form-group">
						<label>Status:</label> <select class="form-control"
							name="tipoDeFuncionario" th:field="*{status}">
							<option value="ATIVO">Ativo</option>
							<option value="INATIVO">Inativo</option>
							<option value="SUSPENSO">Suspenso</option>
						</select> 
						<small th:if="${#fields.hasErrors('status')}" class="text-danger" th:errors="*{status}"></small>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-primary">Editar</button>
					</div>

				</form>

			</div>
		</div>
	</div>
	<div th:replace="layout :: footer"></div>
</body>