<head th:replace="layout :: header"></head>
<body>
	<div class="warpper">
		<div th:replace="layout :: sidebar"></div>
		<div class="main-panel">
			<nav th:replace="layout :: navbar"></nav>
			<div class="content">
				<div th:replace="layout :: alerts"></div>
				<a class="btn btn-primary" th:href="@{/app/recurso/adicionar}">Adicionar
					recurso</a>
				<table class="table table-striped" th:if="${not #lists.isEmpty(recursos)}">
					<thead>
						<tr>
							<th scope="col">Código</th>
							<th scope="col">Nome</th>
							<th scope="col">Sigla</th>
							<th scope="col">Status</th>
							<th scope="col">Ação</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="recurso : ${recursos}">
							<td th:text="${recurso.codigo}"></td>
							<td th:text="${recurso.nome}"></td>
							<td th:text="${recurso.sigla}"></td>
							<td th:text="${recurso.status.displayValue}"></td>
							<td>
								<a th:href="@{/app/recurso/editar/{id}(id = ${recurso.id})}" class="btn btn-primary">
									<i class="far fa-edit"></i>
								</a>
								<a th:href="@{/app/recurso/deletar/{id}(id = ${recurso.id})}"
								onclick="return confirm('Deseja realmente deletar esse registro?');" class="btn btn-danger">
									<i class="far fa-trash-alt"></i>								
								</a>
							</td>
						</tr>
					</tbody>
				</table>
				
				<h5 th:if="${#lists.isEmpty(recursos)}">
				Nenhum recurso cadastrado.
				</h5>

			</div>
		</div>
	</div>
	<div th:replace="layout :: footer"></div>
</body>