<head th:replace="layout :: header"></head>
<body>
	<div class="warpper">
		<div th:replace="layout :: sidebar"></div>
		<div class="main-panel">
			<nav th:replace="layout :: navbar"></nav>
			<div class="content">
				<div th:replace="layout :: alerts"></div>

				<form action="#" th:action="@{/app/agendamento/adicionar}" th:object="${agendamento}" method="POST">
					<div class="form-group">
						<label>Responsável:</label>
						<button class="btn btn-primary btn-sm" type="button"
							data-bs-toggle="modal" data-bs-target="#responsavelModal">
							<i class="fas fa-search"></i>
						</button>
						<input type="hidden" id="responsavelId" th:field="*{responsavel.id}">
						<input type="text" readonly id="responsavelNome" class="form-control" th:field="*{responsavel.nomeCompleto}">
					</div>

					<div class="form-group">
						<label>Recurso:</label>
						<button class="btn btn-primary btn-sm" type="button"
							data-bs-toggle="modal" data-bs-target="#recursoModal">
							<i class="fas fa-search"></i>
						</button>
						<input type="text" id="recursoNome" readonly class="form-control" th:field="*{recurso.nome}">
						<input type="hidden" id="recursoId" th:field="*{recurso.id}">
					</div>

					<div class="form-group">
						<label>Inicio Agendamento:</label> <input type="datetime-local" th:field="*{dataAgendamentoInicio}"
							class="form-control">
					</div>

					<div class="form-group">
						<label>Fim Agendamento:</label> <input type="datetime-local" th:field="*{dataAgendamentoFim}"
							class="form-control">
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-primary">Agendar</button>
					</div>

				</form>

				<!-- Modal -->
				<div class="modal fade" id="responsavelModal" tabindex="-1"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Responsável</h5>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<input class="form-control"
										placeholder="Informe nome ou cpf"
										onkeyup="buscaFuncionario(this.value)"> <span
										class="fas fa-circle-notch form-control-feedback fa-spin"
										style="display: none" id="spinner"></span>
								</div>
								<span id="responsavelNotFound" style="display: none">Nenhum funcionário encontrado.</span>
								<table class="table table-striped" style="display: none" id="responsavelTable">
									<thead>
										<tr>
											<th scope="col">CPF</th>
											<th scope="col">Nome Completo</th>
										</tr>
									</thead>
									<tbody id="responsavelTableBody">
									</tbody>
								</table>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-bs-dismiss="modal">Cancelar</button>
							</div>
						</div>
					</div>
				</div>

								<!-- Modal -->
				<div class="modal fade" id="recursoModal" tabindex="-1"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Recurso</h5>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<input class="form-control"
										placeholder="Informe codigo ou nome"
										onkeyup="buscaRecurso(this.value)"> <span
										class="fas fa-circle-notch form-control-feedback fa-spin"
										style="display: none" id="spinner"></span>
								</div>
								<span id="recursoNotFound" style="display: none">Nenhum recruso encontrado.</span>
								<table class="table table-striped" style="display: none" id="recursoTable">
									<thead>
										<tr>
											<th scope="col">Código</th>
											<th scope="col">Nome</th>
										</tr>
									</thead>
									<tbody id="recursoTableBody">
									</tbody>
								</table>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-bs-dismiss="modal">Cancelar</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div th:replace="layout :: footer"></div>
	<script>
		var timer;
		var host = window.location.hostname;
		var port = window.location.port;
		var protocol = window.location.protocol;
		var url = `${protocol}//${host}${port?':'+port:''}`;
		buscaFuncionario = filtro => {
			if (timer != null) {
				clearTimeout(timer);
			}
			timer = setTimeout(() => {
				$('#spinner').show();
				$.get({
					url: url + "/app/funcionario/buscar?"+$.param({filtro,incluirInativos:false})
				}).done(result => {
					$('#spinner').hide()
					if(result.length > 0) {
						$('#responsavelTableBody').empty();
						result.forEach((element, index) => {
							let tr = document.createElement("tr");
							tr.onclick = () => {
								$('#responsavelTableBody').children().removeClass('table-dark');
								$(`#row${element.id}`).addClass('table-dark');
							};
							tr.ondblclick = () => {
								$('#responsavelId').val(element.id);
								$('#responsavelNome').val(element.nomeCompleto);
								$('#responsavelModal').modal('hide');
							};
							tr.setAttribute("id",`row${element.id}`);
							let tdCpf = document.createElement("td");
							tdCpf.innerText = element.cpf;
							let tdNome = document.createElement("td");
							tdNome.innerText = element.nomeCompleto;
							tr.appendChild(tdCpf);
							tr.appendChild(tdNome);
							$('#responsavelTableBody').append(tr);
						})
						$('#responsavelTable').show();
						$('#responsavelNotFound').hide();
					} else {
						$('#responsavelTable').hide();
						$('#responsavelNotFound').show();
					}
				})
			},1000)
		}
		
		buscaRecurso = filtro => {
			if (timer != null) {
				clearTimeout(timer);
			}
			timer = setTimeout(() => {
				$('#spinner').show();
				$.get({
					url: url + "/app/recurso/buscar?"+$.param({filtro,incluirInativos:false})
				}).done(result => {
					$('#spinner').hide()
					if(result.length > 0) {
						$('#recursoTableBody').empty();
						result.forEach((element, index) => {
							let tr = document.createElement("tr");
							tr.onclick = () => {
								$('#recursoTableBody').children().removeClass('table-dark');
								$(`#row${element.id}`).addClass('table-dark');
							};
							tr.ondblclick = () => {
								$('#recursoId').val(element.id);
								$('#recursoNome').val(element.nome);
								$('#recursoModal').modal('hide');
							};
							tr.setAttribute("id",`row${element.id}`);
							let tdCodigo = document.createElement("td");
							tdCodigo.innerText = element.codigo;
							let tdNome = document.createElement("td");
							tdNome.innerText = element.nome;
							tr.appendChild(tdCodigo);
							tr.appendChild(tdNome);
							$('#recursoTableBody').append(tr);
						})
						$('#recursoTable').show();
						$('#recursoNotFound').hide();
					} else {
						$('#recursoTable').hide();
						$('#recursoNotFound').show();
					}
				})
			},1000)
		}
	</script>
</body>