<head th:replace="layout :: header"></head>
<body>
	<div class="warpper">
		<div th:replace="layout :: sidebar"></div>
		<div class="main-panel">
			<nav th:replace="layout :: navbar"></nav>
			<div class="content">
			<div th:replace="layout :: alerts"></div>
			
				<h5>Agendados Por Mim</h5>
				<p th:if="${#lists.isEmpty(agendadosPorMim)}">
					Nenhum agendamento encontrado.
				</p>
				<table class="table table-striped" th:if="${not #lists.isEmpty(agendadosPorMim)}">
					<thead>
						<tr>
							<th scope="col">Recurso</th>
							<th scope="col">Responsável</th>
							<th scope="col">Horário Inicio</th>
							<th scope="col">Horário Fim</th>
							<th scope="col">Cancelar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="agendamento : ${agendadosPorMim}">
							<td th:text="${agendamento.recurso.nome}"></td>
							<td th:text="${agendamento.responsavel.nomeCompleto}"></td>
							<td th:text="${#dates.format(agendamento.dataAgendamentoInicio, 'dd/MM/yyyy HH:mm')}"></td>
							<td th:text="${#dates.format(agendamento.dataAgendamentoFim, 'dd/MM/yyyy HH:mm')}"></td>
							<td>
								<a th:href="@{/app/agendamento/cancelar/{id}(id = ${agendamento.id})}"
								th:id="@{'agendamento'+${agendamento.id}}"
								th:onclick="'return cancelaAgendamento(\'' + ${agendamento.id} + '\')'" class="btn btn-danger">
									<i class="fas fa-times"></i>								
								</a>
							</td>
						</tr>
					</tbody>
				</table>
				
				<hr>
				
				<h5>Agendados Para Mim</h5>
				<p th:if="${#lists.isEmpty(agendadosParaMim)}">
					Nenhum agendamento encontrado.
				</p>
				<table class="table table-striped" th:if="${not #lists.isEmpty(agendadosParaMim)}">
					<thead>
						<tr>
							<th scope="col">Recurso</th>
							<th scope="col">Responsável Agendamento</th>
							<th scope="col">Horário Inicio</th>
							<th scope="col">Horário Fim</th>
							<th scope="col">Cancelar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="agendamento : ${agendadosParaMim}">
							<td th:text="${agendamento.recurso.nome}"></td>
							<td th:text="${agendamento.responsavelAgendamento.nomeCompleto}"></td>
							<td th:text="${#dates.format(agendamento.dataAgendamentoInicio, 'dd/MM/yyyy HH:mm')}"></td>
							<td th:text="${#dates.format(agendamento.dataAgendamentoFim, 'dd/MM/yyyy HH:mm')}"></td>
							<td>
								<button onclick="return cancelaAgendamento(${agendamento.id})" class="btn btn-danger">
									<i class="fas fa-times"></i>								
								</button>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
	<div th:replace="layout :: footer"></div>
	<script>
	cancelaAgendamento = agendamentoId => {
		let motivoCancelamento = prompt('Favor informar o motivo do cancelamento.');
		if (motivoCancelamento != null) {
			$('#agendamento'+agendamentoId).attr('href',$('#agendamento'+agendamentoId).attr('href')+'?motivoCancelamento='+motivoCancelamento);
			return true;
		} else {
			return false;
		}
	}
	</script>
</body>