<head th:replace="layout :: header"></head>
<body>
	<div class="warpper">
		<div th:replace="layout :: sidebar"></div>
		<div class="main-panel">
			<nav th:replace="layout :: navbar"></nav>
			<div class="content">
				<div th:replace="layout :: alerts"></div>
				<form action="#" th:action="@{/app/funcionario/adicionar}"
					th:object="${funcionario}" method="POST">
					<div class="form-group">
						<label>Nome Completo:</label> <input type="text"
							class="form-control" th:field="*{nomeCompleto}"
							name="nomeCompleto" placeholder="Nome Completo"> <small
							th:if="${#fields.hasErrors('nomeCompleto')}" class="text-danger"
							th:errors="*{nomeCompleto}"></small>
					</div>
					<div class="form-group">
						<label>CPF:</label> <input type="text" class="form-control"
							th:field="*{cpf}" name="cpf" id="cpf" placeholder="CPF">
						<small th:if="${#fields.hasErrors('cpf')}" class="text-danger"
							th:errors="*{cpf}"></small>
					</div>
					<div class="form-group">
						<label>Email:</label> <input type="text" class="form-control"
							th:field="*{email}" name="email" placeholder="Email"> <small
							th:if="${#fields.hasErrors('email')}" class="text-danger"
							th:errors="*{email}"></small>
					</div>
					<div class="form-group">
						<label>Usuário:</label> <input type="text" class="form-control"
							th:field="*{usuario}" name="usuario" placeholder="Usuário">
						<small th:if="${#fields.hasErrors('usuario')}" class="text-danger"
							th:errors="*{usuario}"></small>
					</div>
					<div class="form-group">
						<label>Senha:</label> <input type="password" class="form-control"
							th:field="*{senha}" name="senha" placeholder="Senha"> <small
							th:if="${#fields.hasErrors('senha')}" class="text-danger"
							th:errors="*{senha}"></small>
					</div>
					<div class="form-group">
						<label>Confirmar Senha:</label> <input type="password"
							class="form-control" th:field="*{confirmarSenha}"
							name="confirmarSenha" placeholder="Confirmar Senha">
					</div>
					<div class="form-group">
						<label>Tipo de Funcionário:</label> <select class="form-control"
							name="tipoDeFuncionario" th:field="*{tipoDeFuncionario}">
							<option value="PROFESSOR">Professor</option>
							<option value="COORDENADOR">Coordenador</option>
							<option value="FUNCIONARIO">Funcionario</option>
						</select> <small th:if="${#fields.hasErrors('tipoDeFuncionario')}"
							class="text-danger" th:errors="*{tipoDeFuncionario}"></small>
					</div>
					<div class="form-group">
						<label>Status:</label> <select class="form-control"
							name="status" th:field="*{status}">
							<option value="ATIVO">Ativo</option>
							<option value="INATIVO">Inativo</option>
							<option value="SUSPENSO">Suspenso</option>
						</select> <small th:if="${#fields.hasErrors('status')}"
							class="text-danger" th:errors="*{status}"></small>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary"
							value="Criar funcionário">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="layout :: footer"></div>
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
	<script>
		$(document).ready(() => {
			$('#cpf').mask('000.000.000-00');
		});
	</script>
</body>