<head th:replace="layout :: header"></head>
<body>
	<div class="warpper">
		<div th:replace="layout :: sidebar"></div>
		<div class="main-panel">
			<nav th:replace="layout :: navbar"></nav>
			<div class="content">
				<div th:replace="layout :: alerts"></div>
				<a class="btn btn-primary" th:href="@{/app/funcionario/adicionar}">Adicionar
					funcionário</a>
				<table class="table table-striped" th:if="${not #lists.isEmpty(funcionarios)}">
					<thead>
						<tr>
							<th scope="col">Usuário</th>
							<th scope="col">CPF</th>
							<th scope="col">Email</th>
							<th scope="col">Nome Completo</th>
							<th scope="col">Status</th>
							<th scope="col">Tipo</th>
							<th scope="col">Ação</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="funcionario : ${funcionarios}">
							<td th:text="${funcionario.usuario}"></td>
							<td th:text="${funcionario.cpf}"></td>
							<td th:text="${funcionario.email}"></td>
							<td th:text="${funcionario.nomeCompleto}"></td>
							<td th:text="${funcionario.status.displayValue}"></td>
							<td th:text="${funcionario.tipoDeFuncionario.displayValue}"></td>
							<td>
								<a th:href="@{/app/funcionario/editar/{id}(id = ${funcionario.id})}" class="btn btn-primary">
									<i class="far fa-edit"></i>
								</a>
								<a th:href="@{/app/funcionario/deletar/{id}(id = ${funcionario.id})}"
								onclick="return confirm('Deseja realmente deletar esse registro?');" class="btn btn-danger">
									<i class="far fa-trash-alt"></i>								
								</a>
							</td>
						</tr>
					</tbody>
				</table>
				
				<h5 th:if="${#lists.isEmpty(funcionarios)}">
				Nenhum funcionário cadastrado.
				</h5>

			</div>
		</div>
	</div>
	<div th:replace="layout :: footer"></div>
</body>