<head th:replace="layout :: header"></head>
<body style="background-color: #F4F3EF">
	<div class="content h-100">
		<div class="row justify-content-center h-100">
			<div class="col-lg-4 col-md-6 col-sm-12 my-auto">
				<div class="card">
					<div class="card-header">
						<div class="row justiy-content-center">
							<img th:src="@{/img/faculdade-cdl.jpg}"
								style="margin-top: -50px; margin-bottom: -50px" class="mx-auto">
						</div>
						<div class="card-body">
						<div th:if="${errors != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
						  	<span th:text="${errors}"></span>
						  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    	<span aria-hidden="true">&times;</span>
						  	</button>
						</div>
							<form action="#" th:action="create-account" th:object="${funcionario}" method="POST">
								<div class="form-group">
									<label>Nome Completo:</label>
									<input type="text" class="form-control" th:field="*{nomeCompleto}" name="nomeCompleto" placeholder="Nome Completo">
									<small th:if="${#fields.hasErrors('nomeCompleto')}" class="text-danger" th:errors="*{nomeCompleto}"></small>
								</div>
								<div class="form-group">
									<label>CPF:</label>
									<input type="text" class="form-control" th:field="*{cpf}" name="cpf" id="cpf" placeholder="CPF">
									<small th:if="${#fields.hasErrors('cpf')}" class="text-danger" th:errors="*{cpf}"></small>
								</div>
								<div class="form-group">
									<label>Email:</label>
									<input type="text" class="form-control" th:field="*{email}" name="email" placeholder="Email">
									<small th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></small>
								</div>
								<div class="form-group">
									<label>Usuário:</label>
									<input type="text" class="form-control" th:field="*{usuario}" name="usuario" placeholder="Usuário">
									<small th:if="${#fields.hasErrors('usuario')}" class="text-danger" th:errors="*{usuario}"></small>
								</div>
								<div class="form-group">
									<label>Senha:</label>
									<input type="password" class="form-control" th:field="*{senha}" name="senha" placeholder="Senha">
									<small th:if="${#fields.hasErrors('senha')}" class="text-danger" th:errors="*{senha}"></small>
								</div>
								<div class="form-group">
									<label>Confirmar Senha:</label>
									<input type="password" class="form-control" th:field="*{confirmarSenha}" name="confirmarSenha" placeholder="Confirmar Senha">
								</div>
								<div class="form-group">
									<label>Tipo de Funcionário:</label>
									<select class="form-control" name="tipoDeFuncionario" th:field="*{tipoDeFuncionario}"> 
										<option value="PROFESSOR">Professor</option>
										<option value="COORDENADOR">Coordenador</option>
										<option value="FUNCIONARIO">Funcionario</option>
									</select>
									<small th:if="${#fields.hasErrors('tipoDeFuncionario')}" class="text-danger" th:errors="*{tipoDeFuncionario}"></small>
								</div>
								<input type="hidden" th:filed="*{status}" name="status" value="ATIVO">
								<div class="form-group">
									<input type="submit" class="btn btn-primary btn-block" value="Criar conta">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
	<script>
		$(document).ready(() => {
			$('#cpf').mask('000.000.000-00');
		});
	</script>
</body>
