<!DOCTYPE html>
<html lang="en">

<head th:fragment="header">
<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76"
	href="../assets/img/apple-icon.png">
<link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title th:text="${title}"></title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<!--     Fonts and icons     -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
	rel="stylesheet" />
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
	rel="stylesheet">
<!-- CSS Files -->
<link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/assets/css/paper-dashboard.css?v=2.0.1}"
	rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link th:href="@{/assets/demo/demo.css}" rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
	crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/716f18e034.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	
<style type="text/css">
	.main-panel {
		height: 100vh
	}
</style>
	
</head>


<body class="">
	<div class="wrapper">
		<div th:fragment="sidebar" class="sidebar" data-color="white"
			data-active-color="danger">
			<div class="logo">
				<a href="#" class="simple-text"> <img
					th:src="@{/img/faculdade-cdl.jpg}"
					style="margin-top: -50px; margin-bottom: -50px"> <!-- <p>CT</p> -->
				</a>
			</div>
			<div class="sidebar-wrapper">
				<ul class="nav">
					<li th:attr="class=${#httpServletRequest.requestURI.equals('/app/agendamento') ? 'active' : ''}">
						<a th:href="@{/app/agendamento}"> <i
							class="nc-icon nc-bullet-list-67"></i>
							<p>Meus Agendamentos</p>
					</a>
					</li>
					<li th:attr="class=${#httpServletRequest.requestURI.contains('/agendamento/adicionar') ? 'active' : ''}">
						<a th:href="@{/app/agendamento/adicionar}"> <i
							class="nc-icon nc-simple-add"></i>
							<p>Novo Agendamento</p>
						</a>
					</li>
					<li th:attr="class=${#httpServletRequest.requestURI.contains('/recurso') ? 'active' : ''}">
						<a th:href="@{/app/recurso}"> <i
							class="nc-icon nc-laptop"></i>
							<p>Recursos</p>
						</a>
					</li>
					<li th:attr="class=${#httpServletRequest.requestURI.contains('/funcionario') ? 'active' : ''}">
						<a th:href="@{/app/funcionario}"> <i
							class="nc-icon nc-badge"></i>
							<p>Funcionários</p>
						</a>
					</li>
					<li th:attr="class=${#httpServletRequest.requestURI.contains('/relatorio') ? 'active' : ''}">
					<a th:href="@{/app/relatorio}"> <i
							class="nc-icon nc-paper"></i>
							<p>Relatórios</p>
					</a></li>
				</ul>
			</div>
		</div>
		<div class="main-panel">
			<!-- Navbar -->
			<div th:fragment="navbar">
				<nav
					class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
					<div class="container-fluid">
						<div class="navbar-wrapper">
							<div class="navbar-toggle">
								<button type="button" class="navbar-toggler">
									<span class="navbar-toggler-bar bar1"></span> <span
										class="navbar-toggler-bar bar2"></span> <span
										class="navbar-toggler-bar bar3"></span>
								</button>
							</div>
							<span class="navbar-brand" th:text="${title}"></span>
						</div>
						<div class="justify-content-end" id="navigation">
							<a class="btn btn-danger" th:href="@{/logout}">Sair</a>
						</div>
					</div>
				</nav>
			</div>

		</div>
	</div>

	<div th:fragment="alerts">
		<div th:if="${errors != null}"
			class="alert alert-danger alert-dismissible fade show" role="alert">
			<span th:text="${errors}"></span>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div th:if="${msg != null}"
			class="alert alert-success alert-dismissible fade show" role="alert">
			<span th:text="${msg}"></span>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
	<!--   Core JS Files   -->
	<div th:fragment="footer">

		<script th:attr="src=@{/assets/js/core/jquery.min.js}"></script>
		<script th:attr="src=@{/assets/js/core/popper.min.js}"></script>
		<script th:attr="src=@{/assets/js/core/bootstrap.min.js}"></script>
		<script th:attr="src=@{/assets/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
		<script th:attr="src=@{/assets/js/plugins/chartjs.min.js}"></script>
		<script th:attr="src=@{/assets/js/plugins/bootstrap-notify.js}"></script>
		<script th:attr="src=@{/assets/js/paper-dashboard.min.js?v=2.0.1}" type="text/javascript"></script>
		<script th:attr="src=@{/assets/demo/demo.js}"></script>
		<script>
  </script>
	</div>
</body>

</html>

