<head th:replace="layout :: header"></head>
<body style="background-color: #F4F3EF">
	<div class="content h-100">
		<div class="row justify-content-center h-100">
			<div class="col-lg-4 col-md-6 col-sm-12 my-auto">
				<div class="card">
					<div class="card-header">
						<div class="row justiy-content-center">
							<img th:src="@{/img/faculdade-cdl.jpg}"
								style="margin-top: -50px; margin-bottom: -50px" class="mx-auto">
						</div>
						<div class="card-body">
						<div th:if="${errors != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
						  	<span th:text="${errors}"></span>
						  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    	<span aria-hidden="true">&times;</span>
						  	</button>
						</div>
						<div th:if="${msg != null}" class="alert alert-success alert-dismissible fade show" role="alert">
						  	<span th:text="${msg}"></span>
						  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    	<span aria-hidden="true">&times;</span>
						  	</button>
						</div>
							<form action="#" th:action="login" method="POST" th:object="${funcionario}">
								<div class="form-group">
									<label>Usuário:</label>
									<input type="text" class="form-control" placeholder="Usuário" th:field="*{usuario}">
								</div>
								<div class="form-group">
									<label>Senha:</label>
									<input type="password" class="form-control" placeholder="Senha" th:field="*{senha}">
								</div>
								<div class="form-group">
									<input type="submit" class="btn btn-primary btn-block" value="Login">
								</div>
							</form>
							<div>
								<small>
									<a th:href="@{/create-account}">
										Criar conta
									</a>
								</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
