<head th:replace="layout :: header"></head>
<body>
	<div class="warpper">
		<div th:replace="layout :: sidebar">
		</div>
		<div class="main-panel">
			<nav th:replace="layout :: navbar">
			</nav>
			<div class="content">
				Bem vindo
				<div th:text="${#httpServletRequest.requestURI}">
				</div>
			</div>
		</div>
	</div>
	<div th:replace="layout :: footer">
	</div>
</body>